<div class = "row" >
        <div class="col col-md-6">
            
            <article style="font-size-adjust: inherit">
             <h2>
                {{ nombre_proyecto }}
            </h2>
            <ul>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://michbecerra.github.io/cdmx-2018-06-bc-core-am-cipher/src/index.html">Cifrado César</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://michelebecerra.github.io/DataLabo-2da-entrega/dashboard/src/index.html"> Data Dashboard</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://marfloresrayon.github.io/cdmx-2018-06-bc-core-am-social-network/src/views/login.html"> UX - Red Social</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://brendasanrey.github.io/proyecto-5-coworking-developer/src/index.html">Registro de Visitantes Cow-Working</a></h2>
                        </li>
                        <li>
                        <h2><a target="_blank" rel="noopener" href="https://brendasanrey.github.io/proyecto-5-coworking-developer/src/views/AdminLogin.html">Vista Administrador Cow-Working</a></h2>
                    </li>
                </ul>   
            </article>

        </div>
        <div class="col col-md-6" >
            
            <article style="font-size-adjust: inherit">
                <h2> 
                    <hr/>                          
                </h2>
                <ul>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://michelebecerra.github.io/cdmx-2018-06-bc-core-pm-foodmap/index1.html">Food Map</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://michelebecerra.github.io/cdmx20181-Track-FE-themovieapi/views/login.html">The MoBee App-I</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://social-network-react.herokuapp.com/">Red Social con React (Inicio de seisón)</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Burguer Queen</a></h2>
                    </li>

                </ul>

                </article>
            
        </div>
    </div>