<main>
  <header>
    <h1>
      {{ nombre_proyecto }}
    </h1>
  </header>
  <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="/src/assets/images/cipher.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cifrado César</h5>
          <p class="card-text">Éste proyecto consistio en realizar un encriptador de texto. Se introduce el texto y un número secreto, y te retornará tu mensaje cifrado. Éste mismo mensaje lo puedes enviar a tu crush junto con el número secreto y él o ella podra introducirlo en la web app y podrá rescatar el mensaje secreto!!</p>
        </div>
        <a href="https://github.com/MicheleBecerra/cdmx-2018-06-bc-core-am-cipher" class="btn btn-info">Código</a>
        <a href="https://michbecerra.github.io/cdmx-2018-06-bc-core-am-cipher/src/index.html" class="btn btn-info">Ejemplo</a>
      </div>
      <div class="card p-3">
          <img class="card-img-top" src="/src/assets/images/Captura de pantalla 2018-12-02 a las 10.15.37 p.m..png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Laboratoria Data-Dashboard</h5>
          <p>
            El data dashboard es un tablero de visualización de datos para las Training Manager´s de Laboratoria. Se visualiza el progreso de LMS (Learning Managment System) de cada estudiante por generación y sede.
          </p>
          <a href="https://github.com/MicheleBecerra/DataLabo-2da-entrega" class="btn btn-dark">Código</a>
          <a href="https://michelebecerra.github.io/DataLabo-2da-entrega/dashboard/src/index.html" class="btn btn-dark">Ejemplo</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/src/assets/images/Rock-App-Roll-la-primera-red-social-para-descargar-aplicaciones.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Red Social UX-COM</h5>
          <p class="card-text">Esta red social esta especialmente diseñada para la comunidad UX femenina.
            En este red social las chicas UX pueden mostrar su tabajo o participar en retos que propongas las empresas para encontrar talento.</p>
        </div>
        <a href="https://github.com/MicheleBecerra/cdmx-2018-06-bc-core-am-social-network" class="btn btn-secondary">Código</a>
        <a href="https://marfloresrayon.github.io/cdmx-2018-06-bc-core-am-social-network/src/views/login.html" class="btn btn-secondary">Ejemplo</a>
      </div>
      <div class="card bg-primary text-white p-3">
          <img class="card-img-top" src="/src/assets/images/Registro.png" alt="Card image cap">
        <blockquote class="blockquote mb-0">
            <h5 class="card-title">Registro de Visitantes Cow Working</h5>
          <p class="card-text text-white">Registro de visitantes para un coworking automatizado.
            Existen dos pantallas para el administrador de la entrada y otra para el registro de visitantes
            que ingresan a las oficinas del edificio.
          </p>
          <a href="https://github.com/MicheleBecerra/proyecto-5-coworking-developer" class="btn btn-warning">Código</a>
          <a href="https://brendasanrey.github.io/proyecto-5-coworking-developer/src/index.html" class="btn btn-warning">Ejemplo</a>
        </blockquote>
      </div>
      <div class="card text-center">
          <img class="card-img-top" src="/src/assets/images/administrador.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Registro de Visitantes Cow Working</h5>
          <p class="card-text">Esta es la pantalla de inicio del administrador. Para ingresar cómo administrador, con el usuario : miyang@gmail.com y contraseña : 0987654.</p>
          <a href="https://brendasanrey.github.io/proyecto-5-coworking-developer/src/views/AdminLogin.html" class="btn btn-primary">Ejemplo</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="/src/assets/images/logo_plasta.png" alt="Card image">
      </div>
      <div class="card p-3">
          <img class="card-img-top" src="/src/assets/images/API-mobee.png" alt="Card image cap">
        <div class="blockquote mb-0">
            <h5 class="card-title p-2">The API Movie</h5>
          <p class="card-text">
              Caso de estudio involucrando tecnologías de consumo API y Javascript.
              Ingresar con el usuario : miyang@gmail.com y contraseña : 0987654</p>
              <a href="https://github.com/MicheleBecerra/proyecto-5-coworking-developer" class="btn btn-danger">Código</a>
              <a href="https://brendasanrey.github.io/proyecto-5-coworking-developer/src/index.html" class="btn btn-danger">Ejemplo</a>
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="/src/assets/images/ingreso-react.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ingreso Red Social con React</h5>
          <p class="card-text">Ingreso a la red social UX-COM con el framework React. </p>
          <a href="https://github.com/MicheleBecerra/Social-Network-React" class="btn btn-dark">Código</a>
          <a href="https://social-network-react.herokuapp.com" class="btn btn-dark">Ejemplo</a>
        </div>
      </div>
    </div>

</main>

