div {
    color: rgb(48, 48, 189);
    /* background-image: url("/assets/images/perfil_fondo.png");  */
    background-color: rgba(241, 237, 232, 0.938);
    margin: 0px;

    }
.btn{
  margin: 15px;
}
.img-responsive {
        /* display: block;    */
        align-content: center;
        /* height: 90%; */
        padding: 5rem;

    }
