<main>
  <h3>
    {{nombre_contacto}}
  </h3>
  <div class="row">
    <div class="col-sm">
      <div class="container">
        <ul>
          <li>
            <a><span class="fab fa-linkedin"></span>
              Michele Velázquez de la Rosa Becerra
            </a>
            <p> https://www.linkedin.com/in/michele-velazquez-de-la-rosa-becerra </p>
          </li>
          <li>
            <a><span class="fas fa-globe"></span>
              Portafolio
            </a>
            <p> https://michelebecerra.herokuapp.com </p>
          </li>
          <li>
            <a><span class="fas fa-envelope-square"></span> Correos</a>
             <p>michbecerra@gmail.com
              <br>
             michbecerra@hotmail.com</p>

          </li>
          <li>
            <a><span class="fas fa-phone-square"></span> Teléfono</a>
              <p>55 85 80 88 34</p>


          </li>

          <li>
            <a><span class="fas fa-map-marker-alt"></span>Mi ubicación </a>
              <p>Cuauhtémoc, CDMX</p>

          </li>

        </ul>
      </div>
    </div>
    <div class="col-sm">
        <img class="img-resposive" id="contact-map" src="/src/assets/images/contacto_mapa.png" alt="Card image cap">
    </div>
  </div>
</main>
