<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12 p-3 mb-2 bg-light">
    <nav class = "navbar navbar-default">
      <div class= "container-fluid">
  
        <div class = "navbar-header">  
          <a href="#" class= "navbar brand">
              <img width=10% alt="Inicio" src="./assets/images/logo_plasta.png">
          </a>
        </div>
  
        <ul class="nav navbar-nav">
          <li>
            <a href="#" style="color:rgba(12, 143, 204, 0.884)">
              <span class= "glyphicon glyphicon-user" style="color:rgba(12, 143, 204, 0.884)" ></span>
              Sobre mí
            </a>
          </li>
          
          <li>
            <a href="#" style="color:rgba(12, 143, 204, 0.884)">
                <span class= "glyphicon glyphicon-scissors" style="color:rgba(12, 143, 204, 0.884)"></span>
              Habilidades
            </a>
         </li>
  
         <li >
          <a href="#" style="color:rgba(12, 143, 204, 0.884)">
            <span class= "glyphicon glyphicon-link" style="color:rgba(12, 143, 204, 0.884)"></span>
              Proyectos 
          </a>
         </li>
  
         <li>
           <a href="#" style="color:rgba(12, 143, 204, 0.884)">
            <span class= "glyphicon glyphicon-phone-alt" style="color:rgba(12, 143, 204, 0.884)"></span>
                Contacto
            </a>
          </li>
        </ul>
        
      </div>
    </nav>
  </div>

<div style="text-align:center">

<img width=100% alt="Inicio" src="./assets/images/slider_intro_logo.png">
</div>

<perfil></perfil>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>


