<!--The content below is only a placeholder and can be replaced.-->
<body>
<div class= "col col-lg-12 container-fluid ">
  
<div class="navigation navbar-expand-lg bg-white">
    <nav class = "navbar navbar-default  navbar-expand-lg navbar-white " >
      <div>         
          <a href="#" class= "navbar-brand">
              <img width= 10% alt="barra" src="./assets/images/logo_plasta.png">
          </a>
        
        <ul class="nav navbar-nav justify-content-end">
          <li>
            <a href="#" style="color:rgba(12, 143, 204, 0.884)">
              <span class= "glyphicon glyphicon-user" style="color:rgba(12, 143, 204, 0.884)" ></span>
              Sobre mí
            </a>
          </li>
          
          <li>
            <a href="#" style="color:rgba(12, 143, 204, 0.884)">
                <span class= "glyphicon glyphicon-scissors" style="color:rgba(12, 143, 204, 0.884)"></span>
              Habilidades
            </a>
         </li>

         <li >
          <a href="#" style="color:rgba(12, 143, 204, 0.884)">
            <span class= "glyphicon glyphicon-link" style="color:rgba(12, 143, 204, 0.884)"></span>
              Proyectos 
          </a>
         </li>
  
         <li>
           <a href="#" style="color:rgba(12, 143, 204, 0.884)">
            <span class= "glyphicon glyphicon-phone-alt" style="color:rgba(12, 143, 204, 0.884)"></span>
                Contacto
            </a>
          </li>
        </ul>
        
      </div>
    </nav>
  </div>

  <div class="row">

      <div class="col col-md-4">
          
      </div>

      <div class="col col-md-4">
        <img alt="logo" class="img-responsive" src="./assets/images/logo_concirculo.png"
        style="align-content: center"> 
      </div>

      <div class="col col-md-4" style="text-align:center">
        <img src="./assets/images/unnamed.png" class="img-responsive" id="nombre-logo"  style="align-content: center"> 
      </div>
    </div>

</div>
</body>
 <perfil></perfil>

 <skills></skills>

