<div class = "row" >
    <div class="col col-md-6">
        <article>
            <h2>
            {{ nombre_conocimientos }}
            </h2>  
            
        </article>
        
            <!-- <img src="../../../assets/images/logo_concirculo.png" class="image-responsive" alt="circulo-logo"  style="align-content: center">  -->
    </div>
    <div class="col col-md-6" >
        
            <article>
                <h2>
                    {{ nombre_habilidades }}
                </h2>
                    
            </article>
        
    </div>
</div>
