<body>

          <header>
            <h2>
            {{ nombre_conocimientos }}
            </h2>
          </header>

        <main>
          <div class="container">
            <div class="row justify-content-start">
              <div class="col-11">
                  <img class="img-responsive" src="/src/assets/images/github-sign.png" alt="Card image">
              </div>
              <div class="col-1">
                  <img class="img-responsive" src="/src/assets/images/java-script (1).png" alt="Card image">

              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-6">
                  <img class="img-responsive" src="/src/assets/images/html (1).png" alt="Card image">

              </div>
              <div class="col-2">
                  <i class='img-responsive fab fa-css3-alt' style='font-size:7rem;color:rgb(174, 174, 179)'></i>

              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-6">
                  <i class='fab fa-angular' style='font-size:8rem;color:rgb(48, 47, 51)'></i>
              </div>
              <div class="col-1">

                  <i class='fab fa-node' style='font-size:7rem;color:rgb(126, 126, 131)'></i>
              </div>
            </div>
            <div class="row justify-content-around">
              <div class="col-4">
                  <img class="img-responsive" src="/src/assets/images/java-script (1).png" alt="Card image">

              </div>
              <div class="col-4">
                <img class="img-responsive" src="/src/assets/images/java-script (1).png" alt="Card image">

              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-2">
                  <img class="img-responsive" src="/src/assets/images/java-script (1).png" alt="Card image">

              </div>
              <div class="col-10">
                  <img class="img-responsive" src="/src/assets/images/java-script (1).png" alt="Card image">

              </div>
            </div>
          </div>
        </main>
</body>
