body {
    /* color: rgb(48, 48, 189); */
    background-image: url("/assets/images/perfil_fondo.png");
    /* background-color: rgba(241, 237, 232, 0.938); */
    padding: 0rem;
    margin: 0rem;
    height: 130% ;
    }
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: azure;
        padding: 5px;
        font-size: 35px;
        text-align: center;
    }
    header{
      padding: 2rem;
    }
    .container-fluid{
      width: 100%;
    }
    .img-responsive{
    margin: 0.5rem;
    height: 7rem;
    }





