<body class="container-fluid">

          <header>
            <h2>
            {{ nombre_conocimientos }}
            </h2>
          </header>

        <main>
          <div class="container">
            <div class="row d-flex justify-content-lg-around">
              <div class="col-10">
                  <i class='img-responsive fab fa-github-square' style='font-size:6rem;color:rgb(0, 0, 0)'></i>
              </div>
              <div class="col-1">
                  <i class='img-responsive fab fa-js-square' style='font-size:6rem;color:rgb(29, 178, 247)'></i>

              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-7">
                  <i class='img-responsive fab fa-html5' style='font-size:6rem;color:rgb(9, 249, 249)'></i>

              </div>
              <div class="col-1">
                  <i class='img-responsive fab fa-css3-alt' style='font-size:6rem;color:rgb(174, 174, 179)'></i>

              </div>
            </div>
            <div class="row d-flex justify-content-lg-end">
              <div class="col-6">
                  <i class='fab fa-angular' style='font-size:8rem;color:rgb(48, 47, 51)'></i>
              </div>
              <div class="col-1">

                  <i class='fab fa-node' style='font-size:7rem;color:rgb(126, 126, 131)'></i>
              </div>
            </div>
            <div class="row d-flex justify-content-start">
              <div class="col-10">
                  <i class='fab fa-npm' style='font-size:7rem;color:rgb(7, 7, 7)'></i>

              </div>
              <div class="col-2">
                  <i class='fab fa-git-square' style='font-size:6rem;color:rgb(95, 224, 226)'></i>

              </div>
            </div>
            <div class="row d-flex justify-content-around">
              <div class="col-1">
                  <img class="img-responsive" src="../../../assets/images/kisspng-newport-folk-festival-white-house-hotel-marketing-firebase-5b1cfa2f9f4b23.8449723615286257116525.png" alt="Card image">
              </div>
              <div class="col-1">
                  <img class="img-responsive" src="../.././assets/images/kisspng-heroku-computer-icons-computer-servers-catalog-ser-24-5b103ecc1fab67.8165721915277913081297.png" alt="Card image">

              </div>
            </div>
          </div>
        </main>
</body>
